.pet-card:hover,
.pet-card:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.pets-card .MuiPaper-root {
    width: 20rem;
    height: 35rem;
}

.pets-card .MuiCardMedia-root {
    height: 23rem;
}